:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --red: #7069cf;
    --red-dark: #4a3680;
}

$black: var(--black);
$white: var(--white);
$red: var(--red);
$red-dark: var(--red-dark);