.carousel {
    width: 100%;
    height: 100%;

    position: relative;
}

.carousel-cell {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;

    margin: 0!important;

    border: none;

    outline: none;

    opacity: 0;

    transition: opacity .4s ease-in-out;

    &.active {
        opacity: 1;
    }
}

.carousel-slide {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-arrows {
    width: 100%;
    height: 100%;

    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    .carousel-arrow {
        width: 50%;
        height: 100%;

        position: absolute;
        z-index: 100;
        top: 0;

        &:nth-child(1) {
            left: 0;
        }
    
        &:nth-child(2) {
            right: 0;
        }
    }
}

.carousel-slide {
    h1 {
        font-size: 3rem;
        margin-bottom: 25px;
    }
    
    h2 { 
        font-size: 2rem;
        margin-bottom: 25px;
    }
    
    h3 {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    a {
        color: rgb(87, 87, 255);
        text-decoration: underline;
    }

    p {
        line-height: 150%;
        margin-bottom: 15px;
    }

    pre {
        flex: unset;

        overflow: auto;
    }

    // pre {
    //     padding: 10px;

    //     background-color: #f0f0f0;

    //     border: 1px solid #cacaca;
    //     border-radius: 10px;
    // }
}

